/* Styles for the Post Form and Activity list */

#whats-new-form {
    margin-bottom: 2em;
}

#whats-new-avatar.comment-author {
    margin: 0;
}

#whats-new-submit {
    padding-top: 1em;
    text-align: right;
}

#aw-whats-new-submit {
    float: right;
    margin-left: 1em;
}

#aw-whats-new-reset {
    background-color: #f1f1f1;
    border: 0;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #222;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 800;
    line-height: 1;
    padding: 1em 2em;
    text-shadow: none;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}

.bp-feedback {
    background-color: #0b80a4;
    padding: 0 0 0 0.5em;
    margin: 5px auto;
    border-radius: 0;
}

.bp-messages p {
    margin: 0;
    background: #fff;
    padding: 1em 0 1em 1em;
}

.bp-feedback span.bp-icon {
    display: none;
}

.bp-feedback.error {
    background-color: #d33;
}

.bp-feedback.loading {
    background-color: #ffd087;
}

.bp-feedback.success {
    background-color: #8a2;
}
